@font-face {
    font-family: "Raleway";
    src: url(../fonts/Raleway/Raleway-Light.ttf) format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Raleway";
    src: url(../fonts/Raleway/Raleway-Regular.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Raleway";
    src: url(../fonts/Raleway/Raleway-Medium.ttf) format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Raleway";
    src: url(../fonts/Raleway/Raleway-SemiBold.ttf) format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Raleway";
    src: url(../fonts/Raleway/Raleway-Bold.ttf) format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Raleway";
    src: url(../fonts/Raleway/Raleway-ExtraBold.ttf) format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url('../fonts/Montserrat/Montserrat-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url('../fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
button,
figure{
    margin: 0;
    padding: 0;
}

.main-text {
    font-family: "Montserrat";
    color:  #fff;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
}

.main-title {
    font-family: "Raleway";
    color:  #555;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}

.main-button {
    border-radius: 3px;
    background-color: #998675;
    text-align: center;
    border: 0;
    width: 170px;
}

.main-button a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Raleway";
    color:  #fff;
    font-size: 14px;
    font-weight: 700;
    line-height: 53px;
    text-align: center;
    width: 100%;
    display: block;
}

html,
body {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
}

header {
    width: 100%;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    background: black;
}

.header__top-wrap {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    z-index: 3;
    padding: 55px 19.5% 0;
    box-sizing: border-box;
}

.header__logo {
    width: 9.4%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo_pic img {
    width: 64px;
}

.header__logo_text {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 34px; 
    letter-spacing: -1.4px;
    color: #fff;
}

/*styles for slider*/

.header__slider_slide-wrap {
    position: relative;
    overflow: hidden;
    width: inherit;
    height: 100vh; 
}

.header__slider > input {
    display: none;
}

.header__slider_slide {
    width: inherit;
    position: absolute;
    height: inherit;
	opacity: 0;
	z-index: 0;
	-webkit-transform: scale(1.5);
	-moz-transform: scale(1.5);
	-o-transform: scale(1.5);
	transform: scale(1.5);
	-webkit-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
	-moz-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
	-o-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
	transition: transform ease-in-out .5s, opacity ease-in-out .5s;
    padding-bottom: 42px;
}

.header__slider_slide-1 {
    background: url('../images/headerBackground.jpg') no-repeat;
    background-size: cover;
    
}

.header__slider_slide-2 {
    background: url('../images/headerBackgroundSlide2.jpeg') no-repeat;
    background-size: cover;
}

.header__slider_slide-3 {
    background: url('../images/headerBackgroundSlide3.jpeg') no-repeat;
    background-size: cover;
}

.header__slider_slide-4 {
    background: url('../images/headerBackgroundSlide4.jpeg') no-repeat;
    background-size: cover;
}

.header__slider_slide-5 {
    background: url('../images/headerBackgroundSlide5.jpeg') no-repeat;
    background-size: cover;
}

.header__slider .header__slider_controls {
	position: absolute;
    width: 115px; 
    bottom: 42px;
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin-right: calc(50% - 57.5px);
    margin-left: calc(50% - 57.5px);
}


.header__slider_controls label {
    cursor: pointer;
    height: 11px;
    width: 11px;
    border-radius: 50%;
    position: relative;
    -webkit-transition: background ease-in-out .5s;
	-moz-transition: background ease-in-out .5s;
	-o-transition: background ease-in-out .5s;
	transition: background ease-in-out .5s;
    border: 2px solid; 
    border-color: transparent;
}

.header__slider_controls label:after {
    content: ' ';
    width: 11px;
    height: 11px;
    position: absolute;
    background: #d3c1ad;
    border-radius: 50%;
    z-index: 3;
    border: 2px solid; 
    border-color: transparent; 
}

#header__slider_slide-1:checked ~ .header__slider_controls label:nth-of-type(1),
#header__slider_slide-2:checked ~ .header__slider_controls label:nth-of-type(2),
#header__slider_slide-3:checked ~ .header__slider_controls label:nth-of-type(3),
#header__slider_slide-4:checked ~ .header__slider_controls label:nth-of-type(4),
#header__slider_slide-5:checked ~ .header__slider_controls label:nth-of-type(5) {
    border-radius: 50%;
    border: 2px solid;
    border-color: transparent;
    background-color: rgba(255, 255, 255, 0);
    width: 11px;
    height: 11px;
}


#header__slider_slide-1:checked ~ .header__slider_controls label:nth-of-type(1):after,
#header__slider_slide-2:checked ~ .header__slider_controls label:nth-of-type(2):after,
#header__slider_slide-3:checked ~ .header__slider_controls label:nth-of-type(3):after,
#header__slider_slide-4:checked ~ .header__slider_controls label:nth-of-type(4):after,
#header__slider_slide-5:checked ~ .header__slider_controls label:nth-of-type(5):after {
    border: 2px solid #d3c1ad;
    background-color: rgba(255, 255, 255, 0);
    width: 11px;
    height: 11px;
}

#header__slider_slide-1:checked ~ .header__slider_slide-wrap > .header__slider_slide-1,
#header__slider_slide-2:checked ~ .header__slider_slide-wrap > .header__slider_slide-2,
#header__slider_slide-3:checked ~ .header__slider_slide-wrap > .header__slider_slide-3,
#header__slider_slide-4:checked ~ .header__slider_slide-wrap > .header__slider_slide-4,
#header__slider_slide-5:checked ~ .header__slider_slide-wrap > .header__slider_slide-5 {
	opacity: 1;
	z-index: 1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}

/* Arrows styles */

/*.header__slider_arrows label:hover {
    cursor: pointer;       
}*/


#header__slider_slide-1:checked ~ .header__slider_arrows label:nth-child(2), 
#header__slider_slide-2:checked ~ .header__slider_arrows label:nth-child(3), 
#header__slider_slide-3:checked ~ .header__slider_arrows label:nth-child(4), 
#header__slider_slide-4:checked ~ .header__slider_arrows label:nth-child(5), 
#header__slider_slide-5:checked ~ .header__slider_arrows label:nth-child(1) {
	background: url('../images/sliderLeft.svg') no-repeat;
    width: 40px;
    height: 73px;
	display: block;
    position: absolute;
    left: 7.8%;
    top: 46.5%;
    z-index: 4;
}


#header__slider_slide-:checked ~ .header__slider_arrows label:nth-child(5),
#header__slider_slide-:checked ~ .header__slider_arrows label:nth-child(1),
#header__slider_slide-:checked ~ .header__slider_arrows label:nth-child(2),
#header__slider_slide-:checked ~ .header__slider_arrows label:nth-child(3),
#header__slider_slide-:checked ~ .header__slider_arrows label:nth-child(4) {
	background: url('../images/sliderRight.svg') no-repeat;
    width: 40px;
    height: 73px;
	display: block;
    position: absolute;
    right: 7.8%;
    bottom: 46.5%;
    z-index: 100;
}


/* Styles for navbar */

/* styles for screens more than 1469px  */

.navbar__wide {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 6px;
}

.navbar__wide_list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.navbar__wide_list_item:nth-last-child(n+2) {
    margin-right: 30px;
} 

.navbar__wide_list_item:last-child {
    margin-right: 63px;
}

.navbar__wide_list_item a {
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #fff;
}

.navbar__wide_image-cart {
    width: 18px;
    margin-right: 20px;
}

.navbar__wide_image-cart img {
    width: 100%;
}

.navbar__dropdown {
    display: none;
}

.navbar_image-for-dropdown-nav {
    display: none;
}


/* styles for navbar for screens less then 1469px and more than tablets */

@media all and (max-width: 1469px) {
    .navbar__wide {
        display: none;
    }
    
    .navbar__dropdown {
        display: block;
    }
    
    .navbar_image-for-dropdown-nav {
        display: block;
    }
    
    .navbar {
        width: 125px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .navbar_dropdown_list {
        display: block;
    }
}

.navbar_dropdown_list {
    padding-top: 20px;
    position: absolute;
    z-index: -99;
    visibility: hidden;
    /*transition: right 2s, opacity 2s 1s ease-in; */
}

#navbar_dropdown_button {
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0);
    border: 0;
}

#navbar_dropdown_button div {
    width: 30px;
    height: 3px;
    margin: auto;
    background-color: #fff;
}

#navbar_dropdown_button div:nth-child(n+2) {
    margin-top: 8px;
}

.navbar__dropdown:hover .navbar_dropdown_list {
    display: block;
    position: absolute;
    z-index: 3;   
    animation: navbarDropdown  2s ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes navbarDropdown {
    from {
        right: -9.5%;
        opacity: 0;
        visibility: hidden;
    }
    
    10% {
        right: 10%;
        opacity: 0;
        visibility: hidden;
    }
    
    to {
        right: 19.5%; 
        visibility: visible;
        opacity: 1;
    }
}


.navbar_dropdown_list_item {
    display: inline-block;  
}

.navbar_dropdown_list_item:nth-last-child(n+2) {
    margin-right: 30px;
} 

.navbar_dropdown_list_item a {
    color: #fff;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 300;
    text-align: left;
}

/* header text styles */

.header__title-unique-and-modern {
    font-family: "Raleway";
    color:  #fff;
    font-size: 36px;
    font-weight: 500;
    text-align: center;
    margin-top: 285px;
}

.header__title-largest {
    font-family: "Raleway";
    color:  #fff;
    font-size: 52px;
    font-weight: 700;
    text-align: center;
    margin-top: 14px; 
}

.header__text {
    width: 45%;
    color:  #fff;
    text-align: center;
    margin: 0 auto;
    margin-top: 14px;
}

.header__button-wrap {
    width: 100%;
}

.header__button {
    margin: 0 auto;
    margin-top: 52px;
    margin-bottom: 329px;
}

/*  Departments navigation section's styles */

.departments {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: baseline;
    padding: 89px 19.6% 80px;
}

.departments__link {
    display: inline-block;
    position: relative;
    z-index: 1;
    width: calc(25% - 33px);
}

.departments__link span {
    display: inline-block;
}

.departmemts__department {
    width: 100%;
    height: inherit;
    
}

.departmemts__department object {
    display: block;
    margin: 0 auto;
    margin-bottom: 29px;
    position: relative;
    z-index: -1;
}

.departmemts__department object:hover {
    fill: rgb(199,178,153);
    stroke: rgb(199,178,153);
}

.departmemts__department_title {
    font-family: "Raleway";
    color:  #555;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 29px;
    width: 100%;
}

.departmemts__department_text {
    font-family: "Montserrat";
    color:  #8c8c8c;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    text-align: center;
}

.departmemts__department hr {
    width: 70px;
    background-color: #f1eee9;
    height: 3px;
    border: 0;
    margin-top: 30px;
}

@media all and (max-width: 1499px) {
    .departmemts__department_title {
        font-size: 20px;
    }
}

@media all and (max-width: 1393px) {
    .departmemts__department_title {
        font-size: 18px;
    }
}

@media all and (max-width: 1266px) {
    .departments__link {
        width: calc(50% - 33px);
    }
    
    .departmemts__department_title {
        font-size: 22px;
    }
}

/*bez padding 64.2%=1232.64px */

.realisation {
    background: #fbfaf8;
}

.realisation__inside-wrap {
    padding: 83px 17.9% 0;
}

.realisation__text {
    color: #8c8c8c;
    line-height: 28px;
    margin: 24px 122px 40px;
    text-align: center;
}

.realisation__pictures {
    width: 100%;
    position: relative;
    margin-bottom: -4px;
}

.realisation__pictures_pic {
    width: 62.5%;
}

.realisation__pictures_pic img {
    width: 100%;
}

.realisation__pictures_pic-left {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 0;
}

.realisation__pictures_pic-right {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 0; 
}

.realisation__pictures_pic-center-wrap {
    width: 100%;
    position: absolute;
    bottom: 0;
}

.realisation__pictures_pic-center {
    margin: 0 auto;
    position: relative;
    z-index: 2;
}

/* Realisation footer stylies */

.realisation__footer {
    background: -webkit-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
    background: -moz-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
    background: -o-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
    background: -ms-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
    background: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
    padding: 50px 19.6%;
    overflow: hidden;
}

.realisation__footer_text-block-wrap {
    float: left;
}

.realisation__footer_title {
    font-family: "Raleway";
    color:  #fff;
    font-size: 28px;
    font-weight: 400;
}

.realisation__footer_title:before {
    content: 'Waxom ';
    color:  #c7b299;
}

.realisation__footer_text {
    font-family: Montserrat;
    color:  #615855;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 8px;
}

.realisation__footer_button {
    float: right;
}

/* Styles for latest-project section */
/* width 1170px */

.latest-project {
    padding: 80px 19.5%;
}

.latest-project__text {
    color:  #8c8c8c;
    text-align: center;
    line-height: 28px;
    margin: 40px 10.8% 24px;
}

.latest-project__navbar_list {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
}

.latest-project__navbar_list_item {
    border-radius: 3px;
    border: 1px solid #ebebeb;
    box-sizing: border-box;
    background-color:  rgba(17, 17, 17, 0);
    width: 120px;
    height: 32px;
}

.latest-project__navbar_list_item:first-child {
    width: 70px;
}

.latest-project__navbar_list_item:last-child {
    width: 130px;
}

.latest-project__navbar_list_item:nth-child(n+2) {
    margin-left: 10px;
}

.latest-project__navbar_list_item a {
    text-decoration: none;
    width: 100%;
    font-family: "Montserrat";
    color:  #8c8c8c;
    font-size: 14px;
    font-weight: 300;
    line-height: 32px;
    text-align: center;
    display: block;
}

.latest-project__navbar_list_item:hover {
    background: #998675;
}

.latest-project__navbar_list_item a:hover {
    color: #fff;
}

.latest-project__button {
    margin: 0 auto;
}

.latest-project__projects {
 /*   display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch; */
    margin: 40px 0;    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

.latest-project__projects_item {
   /* width: calc(33.3% - 30px); */
}

/*
.latest-project__projects_item:nth-child(n+4) {
    margin-top: 30px;
}
*/

.latest-project__projects_item img {
    width: 100%;    
}

.latest-project__projects_item_info-block {
    background: #fbfaf8;
   /* display: flex;
    flex-flow: column wrap;
    align-items: baseline; 
    justify-content: space-between; */
    padding: 30px 28px 27px;    
    position: relative; 
    margin-top: -3px;
    height: inherit;
}

.latest-project__projects_item_info-block_triangle {
    width: 30px;
    height: 30px;
    background: #fbfaf8;
    position: absolute;
    transform: rotate(45deg);
    top: -10px;
    left: 17px;
    overflow: hidden;
}

.latest-project__projects_item_info-block_title {
    font-family: Raleway;
    color:  #c7b29a;
    font-size: 20px;
    font-weight: 500;
}

.latest-project__projects_item_info-block_text {
    font-family: Montserrat;
    color:  #d1d1d1;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px; 
}


@media all and (max-width: 1554px) {
    .latest-project__projects_item_info-block_title  {
        font-size: 18px;
    }
}

@media all and (max-width: 1172px) {
    .latest-project__projects_item_info-block_title  {
        font-size: 20px;
    }
}


